html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2f5ecb;
}

#app {
    margin-top: 50px;
}

.vbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px
}

.hbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 8px
}

.controls > button {
    width: 60px;
    height: 42px;
}

.text {
    font-family: monospace;
    font-size: 16pt;
}

.editor {
    width: 6ch;
    height: 13ch;
    font-size: 36pt;
    font-family: monospace;
    border: 1px solid #888;
    outline: none;
    resize: none;
    overflow: hidden;
}

.editor-link {
    margin-left: 8px;
    margin-right: auto;
    margin-bottom: 16px;
}

.board {
    background-color: #3f3f3f;
    position: relative;
}

.car {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: monospace;
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
}

.button {
    font-family: monospace;
    font-size: 24pt;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.arrow-out {
    position: relative;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #cc0000;
}